# Lab 1 Introduction to Notebook and Tables 

## Acknowledgement: This lab has been adopted from a lab previously developed at UC Berkeley (for the data 8 course).

# Part A Install and Import Datascience Module

## The first thing we need to do is to install the datascience module, which was also developed at UC Berkeley for the data 8 course.

### A module is a collection of Python code that, together, forms a code library that can be directly used by Python developer.
### Azure Jupyter Notebook already has several modules installed.  For example, we will later use sklearn module to create decision tree models from a set of labelled data.  
### Because the datascience module is not pre-installed in Azure Jupyter Notebook,  we need to use the following command to install it in the beginning of every Azure notebook that needs to use it.
### Complete "!pip install datascience" in the line below.  Then click the "Run" button (under the "Cell" menu item on the top row of this web page)

In [5]:
!pip install datascience

Requirement already satisfied: datascience in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (0.15.0)
Requirement already satisfied: numpy in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from datascience) (1.17.0)
Requirement already satisfied: coverage==4.5.3 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from datascience) (4.5.3)
Requirement already satisfied: scipy in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from datascience) (1.1.0)
Requirement already satisfied: bokeh in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from datascience) (0.12.7)
Requirement already satisfied: pytest in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from datascience) (2.9.2)
Requirement already satisfied: setuptools in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from datascience) (41.1.0)
Requirement already satisfied: sphinx in /home/nbuser/anaconda3_420/lib/python3.5/site-packages/Sphinx-1.4.6-py3.5.egg (from datascience) (1.4.6)
Requirement already satisfied: folium>=0.9.1 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from datascience) (0.10.0)
Requirement already satisfied: ipython in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from datascience) (6.2.1)
Requirement already satisfied: pandas in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from datascience) (0.19.2)
Requirement already satisfied: coveralls in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from datascience) (1.8.2)
Requirement already satisfied: matplotlib>=3.0.0 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from datascience) (3.0.3)
Requirement already satisfied: six>=1.5.2 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from bokeh->datascience) (1.11.0)
Requirement already satisfied: PyYAML>=3.10 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from bokeh->datascience) (3.13)
Requirement already satisfied: python-dateutil>=2.1 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from bokeh->datascience) (2.8.0)
Requirement already satisfied: Jinja2>=2.7 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from bokeh->datascience) (2.10.1)
Requirement already satisfied: tornado>=4.3 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from bokeh->datascience) (4.4.1)
Requirement already satisfied: bkcharts>=0.2 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from bokeh->datascience) (0.2)
Requirement already satisfied: py>=1.4.29 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from pytest->datascience) (1.4.31)
Requirement already satisfied: Pygments>=2.0 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from sphinx->datascience) (2.1.3)
Requirement already satisfied: docutils>=0.11 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from sphinx->datascience) (0.12)
Requirement already satisfied: snowballstemmer>=1.1 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from sphinx->datascience) (1.2.1)
Requirement already satisfied: babel!=2.0,>=1.3 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from sphinx->datascience) (2.3.4)
Requirement already satisfied: alabaster<0.8,>=0.7 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from sphinx->datascience) (0.7.9)
Requirement already satisfied: imagesize in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from sphinx->datascience) (0.7.1)
Requirement already satisfied: requests in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from folium>=0.9.1->datascience) (2.14.2)
Requirement already satisfied: branca>=0.3.0 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from folium>=0.9.1->datascience) (0.3.1)
Requirement already satisfied: jedi>=0.10 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from ipython->datascience) (0.11.0)
Requirement already satisfied: decorator in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from ipython->datascience) (4.4.0)
Requirement already satisfied: pickleshare in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from ipython->datascience) (0.7.4)
Requirement already satisfied: simplegeneric>0.8 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from ipython->datascience) (0.8.1)
Requirement already satisfied: traitlets>=4.2 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from ipython->datascience) (4.3.1)
Requirement already satisfied: prompt_toolkit<2.0.0,>=1.0.4 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from ipython->datascience) (1.0.15)
Requirement already satisfied: pexpect in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from ipython->datascience) (4.0.1)
Requirement already satisfied: pytz>=2011k in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from pandas->datascience) (2016.6.1)
Requirement already satisfied: docopt>=0.6.1 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from coveralls->datascience) (0.6.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from matplotlib>=3.0.0->datascience) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from matplotlib>=3.0.0->datascience) (2.1.4)
Requirement already satisfied: cycler>=0.10 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from matplotlib>=3.0.0->datascience) (0.10.0)
Requirement already satisfied: MarkupSafe>=0.23 in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from Jinja2>=2.7->bokeh->datascience) (0.23)
Requirement already satisfied: parso==0.1.* in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from jedi>=0.10->ipython->datascience) (0.1.1)
Requirement already satisfied: wcwidth in /home/nbuser/anaconda3_420/lib/python3.5/site-packages (from prompt_toolkit<2.0.0,>=1.0.4->ipython->datascience) (0.1.7)
WARNING: You are using pip version 19.2.2, however version 19.2.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

## Import datascience module
### After we successfully install the datascience module, we can now import it.
### Importing a module enables us later to use functions (code) defined in the module.
### For Example, one of the feature of datascience module is to enable us to easily read a tabular data stored in a CSV file, process the table in various way, and visualize data in the table in multiple ways (e.g., bar chart, scatter plot, etc).

In [6]:
from datascience import *

### Milestone 1: 
Congratulations!  You have reached your first milestone for Lab 1.  Click "A" on iClicker to indicate you have completed Part A of Lab 1.

# Part B Read a Table
## In the second part of the lab, we will use a utility (Table class) of datascience module to read a CSV file that contains salary data of employees of San Francisco City.
## Source of The Data: Kaggle https://www.kaggle.com/kaggle/sf-salaries

A table is a fundamental object type for representing data sets. A table can be viewed in two ways:
* A sequence of named columns that each describe a single aspect of all entries in a data set
* A sequence of rows that each contain all information about a single entry in a data set

Each column of this table data structure must contain values of the same kind. For example, a table can have a column of integers or a column of strings. We can create a table from scratch or from a CSV file. Let's try reading a CSV file into a table.

In the Python code below, we use Table.read_table to read a CSV file called "SFSalaries2011_2014.csv".

- Note 1: We use a pair of double quotes "....." to indicate a string in Python.  Otherwise, Python may interpret it as a variable name (like salaries).
- Note 2: Table.read_table is like a function.  It takes a file name as input, and returns a Table object as its output.
- Note 3: We can use assignment (=) in Python to assign the output of the function Table.read_table to a variable (like salaries)
- Note 4: Running a line that contains only a variable results in displaying the content of the variable.

### Exercise 1 Read and display a salary dataset using Table.

In [7]:
# read a CSV file of salaries from SF City into a table
salaries = Table.read_table("SFSalaries2011_2014.csv")    
salaries

/home/nbuser/anaconda3_420/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2850: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

Id   | EmployeeName       | JobTitle                                       | BasePay   | OvertimePay | OtherPay  | Benefits | TotalPay | TotalPayBenefits | Year | Notes | Agency        | Status
1    | NATHANIEL FORD     | GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY | 167411.18 | 0.0         | 400184.25 | nan      | 567595   | 567595           | 2011 | nan   | San Francisco | nan
2    | GARY JIMENEZ       | CAPTAIN III (POLICE DEPARTMENT)                | 155966.02 | 245131.88   | 137811.38 | nan      | 538909   | 538909           | 2011 | nan   | San Francisco | nan
3    | ALBERT PARDINI     | CAPTAIN III (POLICE DEPARTMENT)                | 212739.13 | 106088.18   | 16452.6   | nan      | 335280   | 335280           | 2011 | nan   | San Francisco | nan
4    | CHRISTOPHER CHONG  | WIRE ROPE CABLE MAINTENANCE MECHANIC           | 77916.0   | 56120.71    | 198306.9  | nan      | 332344   | 332344           | 2011 | nan   | San Francisco | nan
5    | PATRICK GARDNER    | DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)   | 134401.6  | 9737.0      | 182234.59 | nan      | 326373   | 326373           | 2011 | nan   | San Francisco | nan
6    | DAVID SULLIVAN     | ASSISTANT DEPUTY CHIEF II                      | 118602.0  | 8601.0      | 189082.74 | nan      | 316286   | 316286           | 2011 | nan   | San Francisco | nan
7    | ALSON LEE          | BATTALION CHIEF, (FIRE DEPARTMENT)             | 92492.01  | 89062.9     | 134426.14 | nan      | 315981   | 315981           | 2011 | nan   | San Francisco | nan
8    | DAVID KUSHNER      | DEPUTY DIRECTOR OF INVESTMENTS                 | 256576.96 | 0.0         | 51322.5   | nan      | 307899   | 307899           | 2011 | nan   | San Francisco | nan
9    | MICHAEL MORRIS     | BATTALION CHIEF, (FIRE DEPARTMENT)             | 176932.64 | 86362.68    | 40132.23  | nan      | 303428   | 303428           | 2011 | nan   | San Francisco | nan
10   | JOANNE HAYES-WHITE | CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)         | 285262.0  | 0.0         | 17115.73  | nan      | 302378   | 302378           | 2011 | nan   | San Francisco | nan
... (148644 rows omitted)

### Milestone 2: 
If you successfully read the salary file into a table and show some of the content of the table, congratulations! You have reached Milestone 2.

# <a name="notebooks"></a>Part C Introduction to Jupyter Notebooks

Part C of this lab is intended to be a hands-on introduction to Jupyter Notebook.  You are currently working in a Jupyter Notebook. A Notebook allows text and code to be combined into one document. Each rectangular section of a notebook is called a "cell." There are two types of cells in this notebook: text cells and code cells.

## 1.1 Text Cells

Text cells (like this one) can be edited by double-clicking on them. They're written in a simple format called [Markdown](http://daringfireball.net/projects/markdown/syntax) to add formatting and section headings.  If you want to write your own notebooks, it will be useful to know the basics of Markdown.

After you edit a text cell, click the "run cell" button at the top that looks like ▶ to confirm any changes. Alternatively, you can hold down the `shift` key and then press `return` or `enter`.

### <a name="1"></a>Exercise 2

This paragraph is in its own text cell.  Try editing it so that this sentence is the last sentence in the paragraph.  This sentence, for example, should be deleted.  So should this one. Replace this sentence here with one containing your name (e.g., John Yen is a Penn State Football fan).

## 1.2 Code Cells

Other cells contain code in the Python 3 language. Running a code cell will execute all of the code it contains. To run the code in a code cell, first click on that cell to activate it. Next, either click ▶ or hold down the `shift` key and then press `return` or `enter`.

Try running the two cells below.

In [8]:
print("Hello, World!")

Hello, World!

### Exercise 3 
Replace "Jo Smith" below with your name.  You can also change the rest of the sentece. Run the code cell to see whether the sentence printed is what you expected.
#### Tip: "+" is used here to concatenate two strings into one.

In [9]:
print("Jo Smith " + "likes to play with data.")

Jo Smith likes to play with data.

Code cells can contain multiple lines. When you run a cell with multiple lines, each line will be executed. Every print expression in the following cell prints a line. Run the next cell and notice the order of the output.

### Exercise 4
Change the two strings below into two sentences about Penn State. Run the Cell

In [10]:
print("First this line is printed,")
print("and then this one.")

First this line is printed,
and then this one.

## 1.3 Comments

Code cells can also contain text in the form of comments. Comments don't make anything happen in Python; Python ignores anything on a line after a #.  Instead, comments are there to communicate something about the code to you, the human reader.  Comments are extremely useful. The cell below contains two examples of how comments can be used.

<img src="http://imgs.xkcd.com/comics/future_self.png">

In [11]:
# This is a comment
print("Hello, World!")    # This is also a comment

Hello, World!

# <a name="python"></a>2. Intro to Python

Python is a language, and like natural human languages, it has rules.  It differs from natural language in at least two important ways:

1. The rules are *simple*.  You can learn most of them in a few weeks and gain reasonable proficiency with the language in a semester.
2. The rules are *rigid*.  If you're proficient in a natural language, you can understand a non-proficient speaker, glossing over small mistakes.  A computer running Python code is not smart enough to do that.

We will cover some of these rules in this lab. Because the rules are so rigid, you may come across syntax errors throughout the lab. Don't hesitate to ask a lab assistant for help if you see such errors.

## 2.1 Numbers

Quantitative information arises everywhere in data science. Python has two different types of numbers we can work with: integer and floats (aka decimals). Try running the first cell below which contains an integer.

In [12]:
3

3

Notice that we didn't have to `print`. When you run a notebook cell, if the last line has a value, then Jupyter helpfully prints out that value for you. The value of the integer 3 is simply 3.

In [13]:
3.14

3.14

Similarly, the value of the float 3.14 is simply 3.14. 

Only the value of the last line of a cell is automatically displayed. If you want to display the value of previous lines, you must explicitly do so using `print`. Notice that 3 does not get displayed when you run the cell below.

In [14]:
print(2.5)    # display by printing
3             # does not display
4             # displays automatically

2.5

4

## 2.2 Text

Programming doesn't just concern numbers. Text is one of the most common types of values used in programs.

A snippet of text is represented by a string value in Python. The word **"string"** is a programming term for a sequence of characters. A string might contain a single character, a word, a sentence, or a whole book.

To distinguish text data from actual code, we demarcate strings by putting quotation marks around them. Single quotes (') and double quotes (") are both valid, but the types of opening and closing quotation marks must match. The contents can be any sequence of characters, including numbers and symbols.

In [15]:
"hello"

'hello'

In [16]:
'world'

'world'

## 2.3 Expressions

Expressions are the building blocks of programs, and they describe to the computer how to combine pieces of data. We can combine numbers using expressions. For example, we can add two numbers using + and multiply two numbers using \*. 

Run the following cell to evaluate the multiplication expression shown. The value of the expression, 12 in this case, will be displayed below the cell.

In [17]:
3 * 4

12

When there are multiple expressions in a cell, only the value of the final expression will be automatically displayed upon running the cell. If you want to display the value of previous expressions, you must explicitly do so using `print`. Notice that 5 does not get displayed when you run the cell below.

## 2.4 Names

In natural language, we have terminology that lets us quickly reference very complicated concepts.  We don't say, "That's a large mammal with brown fur and sharp teeth!"  Instead, we say, "Bear!"

Similarly, an effective strategy for writing code is to define names for data as we compute it, like a lawyer would define terms for complex ideas at the start of a legal document. Names are given to values in Python using an **assignment statement**. In an assignment, a name is followed by =, which is followed by any expression. The value of the expression to the right of = is assigned to the name. Once a name has a value assigned to it, the value will be substituted for that name in future expressions.

In [18]:
a = 10
b = 20
a + b

30

A previously assigned name can be used in the expression to the right of = .

In [19]:
quarter = 1/4
half = 2 * quarter
half

0.5

These are sometimes alternatively called variables.  We say that the variable named `quarter` is equal to 0.25.

Names can also be used with strings.

In [20]:
favorite_class = "???"
print("My favorite class is " + favorite_class)

My favorite class is ???

# <a name="tables"></a>3. Introduction to Tables

If we want just the Salary of the data, we can use ".column" method of Table.  Since salaries is a Table, we can get the entire list of salaries using "salaries.colum("TotalPay")".  This will return an array of the salaries.
Similar to integers, floats, and strings, arrays are another **data type** that we can use in Python.

In [21]:
salary_array = salaries.column("TotalPay")    # Select just the "TotalPay" column
print(salary_array)

[567595.43 538909.28 335279.91 ...      0.        0.     -618.13]

If we want to get the top 100 salaries, we can first sort the salaries in descending order.  We can do this using ".sort" method of Table.

In [22]:
# default sort order is ascending
sorted_salaries = salaries.sort("TotalPay") 
sorted_salaries

Id     | EmployeeName       | JobTitle                                   | BasePay | OvertimePay | OtherPay | Benefits | TotalPay | TotalPayBenefits | Year | Notes | Agency        | Status
148654 | Joe Lopez          | Counselor, Log Cabin Ranch                 | 0.00    | 0.00        | -618.13  | 0.00     | -618.13  | -618.13          | 2014 | nan   | San Francisco | PT
36157  | PAULETTE ADAMS     | STATIONARY ENGINEER, WATER TREATMENT PLANT | 0.0     | 0.0         | 0.0      | nan      | 0        | 0                | 2011 | nan   | San Francisco | nan
36158  | KAUKAB MOHSIN      | TRANSIT OPERATOR                           | 0.0     | 0.0         | 0.0      | nan      | 0        | 0                | 2011 | nan   | San Francisco | nan
36159  | JOSEPHINE MCCREARY | MANAGER IV                                 | 0.0     | 0.0         | 0.0      | nan      | 0        | 0                | 2011 | nan   | San Francisco | nan
70878  | Roland Baylon      | Deputy Court Clerk II                      | 0.0     | 0.0         | 0.0      | 3728.05  | 0        | 3728.05          | 2012 | nan   | San Francisco | nan
70928  | Felecia Phillips   | Registered Nurse                           | 0.0     | 0.0         | 0.0      | 3618.13  | 0        | 3618.13          | 2012 | nan   | San Francisco | nan
70929  | Robert Giannini    | Painter                                    | 0.0     | 0.0         | 0.0      | 3614.56  | 0        | 3614.56          | 2012 | nan   | San Francisco | nan
70933  | Nelly Kuan         | Senior Eligibility Worker                  | 0.0     | 0.0         | 0.0      | 3610.32  | 0        | 3610.32          | 2012 | nan   | San Francisco | nan
70934  | William Mathews    | Transit Power Line Worker                  | 0.0     | 0.0         | 0.0      | 3608.42  | 0        | 3608.42          | 2012 | nan   | San Francisco | nan
70943  | Gayle Mathews      | Senior Collections Officer                 | 0.0     | 0.0         | 0.0      | 3591.89  | 0        | 3591.89          | 2012 | nan   | San Francisco | nan
... (148644 rows omitted)

When using `sort`, the default sort order is ascending (from lowest salary to highest salary). Since we are interested in getting top salaries, it is more convenient to sort the table in DESCENDING order (from highest slary to lowest salary).  We can do this  using the `descending` argument of `sort` with the boolean value `True`, shown below and. The `descending` argument is optional and is set to `False` when its value is not specified as in the previous case. 

Additional Note: In Python, whenever you see a function argument of the form `<argument name>=<argument value>`, the argument is optional and does not need to be passed in. Not passing in the argument will cause the default value (e.g., `False` is the default value of the `descending` argument) to be used.  

### Exercise 5
Fill in the correct value for the descending parameter of salaries.sort so that the salary table can be sorted such that employees with highest TotalPay are on the top of the table.

In [24]:
sorted_salaries2 = salaries.sort("TotalPay", descending = "TRUE")
sorted_salaries2

Id     | EmployeeName         | JobTitle                                       | BasePay   | OvertimePay | OtherPay  | Benefits | TotalPay | TotalPayBenefits | Year | Notes | Agency        | Status
1      | NATHANIEL FORD       | GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY | 167411.18 | 0.0         | 400184.25 | nan      | 567595   | 567595           | 2011 | nan   | San Francisco | nan
2      | GARY JIMENEZ         | CAPTAIN III (POLICE DEPARTMENT)                | 155966.02 | 245131.88   | 137811.38 | nan      | 538909   | 538909           | 2011 | nan   | San Francisco | nan
110532 | David Shinn          | Deputy Chief 3                                 | 129150.01 | 0.0         | 342802.63 | 38780.04 | 471953   | 510733           | 2014 | nan   | San Francisco | PT
110533 | Amy P Hart           | Asst Med Examiner                              | 318835.49 | 10712.95    | 60563.54  | 89540.23 | 390112   | 479652           | 2014 | nan   | San Francisco | FT
36160  | Gary Altenberg       | Lieutenant, Fire Suppression                   | 128808.87 | 220909.48   | 13126.31  | 44430.12 | 362845   | 407275           | 2012 | nan   | San Francisco | nan
36168  | John Goldberg        | Captain 3                                      | 104404.0  | 0.0         | 245999.41 | 24287.23 | 350403   | 374691           | 2012 | nan   | San Francisco | nan
72928  | Samson  Lai          | Battalion Chief, Fire Suppress                 | 186236.42 | 131217.63   | 29648.27  | 57064.95 | 347102   | 404167           | 2013 | nan   | San Francisco | nan
110537 | Ellen G Moffatt      | Asst Med Examiner                              | 270222.04 | 6009.22     | 67956.2   | 71580.48 | 344187   | 415768           | 2014 | nan   | San Francisco | FT
110534 | William J Coaker Jr. | Chief Investment Officer                       | 257340.0  | 0.0         | 82313.7   | 96570.66 | 339654   | 436224           | 2014 | nan   | San Francisco | PT
72926  | Gregory P Suhr       | Chief of Police                                | 319275.01 | 0.0         | 20007.06  | 86533.21 | 339282   | 425815           | 2013 | nan   | San Francisco | nan
... (148644 rows omitted)